<!-- ###EVENTBOARD### begin -->
###CSSSTYLE###
###JAVASCRIPTFKT###


<div class="kb_eventboard-header">###LL_HEADLINE###</div>
<div style="margin-bottom: 10px;">###CATEGORYSELETOR###</div>
<!-- ###EVENTBOARD### end -->

<!-- View with category selectbox and navigation -->		
<!-- ###EVENT_STANDARDVIEW### begin -->	
<div class="kb_eventboard-entry ###EVEN_ODD###"><a name="###EVENTANCHOR###"></a>###DATUM### ###ENDDATUM###<br>
			<span class="kb_eventboard-area" style="display: none;" id="###DIV_IDS###">
			  <div class="kb_eventboard-areacontent">
	
				<div class="kb_eventboard-infodiv">
				  <div class="kb_eventboard-infobtnbar"><a href="void" onclick="hideDiv('###DIV_IDS###');return false;">###CLOSEBOX###</a></div>
				
				  <div class="kb_eventboard-infobox">
					  <div class="kb_eventboard-infoleft">
					      <strong>###LOCATION###</strong><br>
					      ###STREET###<br>
					      ###ZIP### ###CITY###<br><br>
					  </div>
					  <div class="kb_eventboard-inforight">###PIC###</div>
					  <div class="kb_eventboard-clear"></div>
				  </div>
				  
				  <div class="kb_eventboard-text">
				      ###LOCATIONDESCRIPTION###<br><br>
				      <a href="###HOMEPAGE###" title="###LL_LOCATIONHP###: ###HOMEPAGE###" target="_blank">###HOMEPAGE###</a>
				  </div>
				  </div>

			  </div>
			</span>
			<b>###EVENTNAME###</b><br>
			###TEASERDESCRIPTION###			
			###EVENTDESCRIPTION###<hr class="clear"><br>
			###IMAGES###<hr class="clear"><br>
			<div style="height: 20px;">###LL_LOCATIONTITLE###<a class="###LINKCLASS###" href="#" onMouseover="showDiv###CONTENT_ID###('###DIV_IDS###');" onMouseout="if(kb_eventboard_ctime == 0){kb_eventboard_ctime = setTimeout(&quot;hideDiv('###DIV_IDS###')&quot;,2500)}">###LOCATION###<br></a></div>
		
			###LL_STARTTIME###: ###STARTTIME###<br>
			###LL_PRICE###: ###PRICE###<br>
			###MORE_LINK###
</div>	
<!-- ###EVENT_STANDARDVIEW### end -->
		

<!-- ###EVENTBOARDFOOTER### begin -->
		###FOOTERLEFT### ###FOOTERRIGHT###		
<!-- ###EVENTBOARDFOOTER### end -->



<!-- Single View with/without category selectbox and navigation -->		
<!-- ###EVENT_SINGLEVIEW### begin -->	
<div class="kb_eventboard-entry ###EVEN_ODD###"><a name="###EVENTANCHOR###"></a>###DATUM### ###ENDDATUM###<br>
			<span class="kb_eventboard-area" style="display: none;" id="###DIV_IDS###">
			  <div class="kb_eventboard-areacontent">
	
				<div class="kb_eventboard-infodiv">
				  <div class="kb_eventboard-infobtnbar"><a href="void" onclick="hideDiv('###DIV_IDS###');return false;">###CLOSEBOX###</a></div>
				
				  <div class="kb_eventboard-infobox">
					  <div class="kb_eventboard-infoleft">
					      <strong>###LOCATION###</strong><br>
					      ###STREET###<br>
					      ###ZIP### ###CITY###<br><br>
					  </div>
					  <div class="kb_eventboard-inforight">###PIC###</div>
					  <div class="kb_eventboard-clear"></div>
				  </div>
				  
				  <div class="kb_eventboard-text">
				      ###LOCATIONDESCRIPTION###<br><br>
				      <a href="###HOMEPAGE###" title="###LL_LOCATIONHP###: ###HOMEPAGE###" target="_blank">###HOMEPAGE###</a>
				  </div>
				  </div>

			  </div>
			</span>
			<b>###EVENTNAME###</b><br>
			###TEASERDESCRIPTION###			
			###EVENTDESCRIPTION###<hr class="clear"><br>
			###IMAGES###<hr class="clear"><br>
			<div style="height: 20px;">###LL_LOCATIONTITLE###<a class="###LINKCLASS###" href="#" onMouseover="showDiv###CONTENT_ID###('###DIV_IDS###');" onMouseout="if(kb_eventboard_ctime == 0){kb_eventboard_ctime = setTimeout(&quot;hideDiv('###DIV_IDS###')&quot;,2500)}">###LOCATION###<br></a></div>
		
			###LL_STARTTIME###: ###STARTTIME###<br>
			###LL_PRICE###: ###PRICE###<br>
			###MORE_LINK###
</div>	
<!-- ###EVENT_SINGLEVIEW### end -->


<!-- View without category selectbox -->
<!-- ###EVENT_FRONTPAGEVIEW### begin -->	

<div class="kb_eventboard-entry ###EVEN_ODD###"><a name="###EVENTANCHOR###"></a>###DATUM### ###ENDDATUM###<br>
			<span class="kb_eventboard-area" style="display: none;" id="###DIV_IDS###">
			  <div class="kb_eventboard-areacontent">
	
				<div class="kb_eventboard-infodiv">
				  <div class="kb_eventboard-infobtnbar"><a href="void" onclick="hideDiv('###DIV_IDS###');return false;">###CLOSEBOX###</a></div>
				
				  <div class="kb_eventboard-infobox">
					  <div class="kb_eventboard-infoleft">
					      <strong>###LOCATION###</strong><br>
					      ###STREET###<br>
					      ###ZIP### ###CITY###<br><br>
					  </div>
					  <div class="kb_eventboard-inforight">###PIC###</div>
					  <div class="kb_eventboard-clear"></div>
				  </div>
				  
				  <div class="kb_eventboard-text">
				      ###LOCATIONDESCRIPTION###<br><br>
				      <a href="###HOMEPAGE###" title="###LL_LOCATIONHP###: ###HOMEPAGE###" target="_blank">###HOMEPAGE###</a>
				  </div>
				  </div>

			  </div>
			</span>
			<b>###EVENTNAME###</b><br>
			###TEASERDESCRIPTION###			
			###EVENTDESCRIPTION###<hr class="clear"><br>
			###IMAGES###<hr class="clear"><br>
			<div style="height: 20px;">###LL_LOCATIONTITLE###<a class="###LINKCLASS###" href="#" onMouseover="showDiv###CONTENT_ID###('###DIV_IDS###');" onMouseout="if(kb_eventboard_ctime == 0){kb_eventboard_ctime = setTimeout(&quot;hideDiv('###DIV_IDS###')&quot;,2500)}">###LOCATION###<br></a></div>
		
			###LL_STARTTIME###: ###STARTTIME###<br>
			###LL_PRICE###: ###PRICE###<br>
			###MORE_LINK###
</div>	
<!-- ###EVENT_FRONTPAGEVIEW### end -->





<!-- View for context column without category selectbox -->
<!-- ###EVENT_CONTEXTCOLVIEW### begin -->	

<div class="kb_eventboard-entry ###EVEN_ODD###">###DATUM### ###ENDDATUM###<br>
			<span class="kb_eventboard-area" style="display: none;" id="###DIV_IDS###">
			  <div class="kb_eventboard-areacontent">  
				  <div class="kb_eventboard-text">
				      ###LOCATIONDESCRIPTION###<br><br>
				      <a href="###HOMEPAGE###" title="###LL_LOCATIONHP###: ###HOMEPAGE###" target="_blank">###HOMEPAGE###</a>
				  </div>
			  </div>
			</span>
			<b>###EVENTNAME###</b><br>
						
			<div class="kb_eventboard_contextcol_descr">###TEASERDESCRIPTION###</div>
			<div>###IMAGES###</div>
			<div>Ort: ###LOCATION###</div><br>
		
			###LL_STARTTIME###: ###STARTTIME###<br>
			###LL_PRICE###: ###PRICE###<br>
			###MORE_LINK###
</div>	
<!-- ###EVENT_CONTEXTCOLVIEW### end -->